@using BlazorServerApp.Services
@using ThemeService = BlazorServerApp.Services.ThemeService
@inherits LayoutComponentBase
@inject NavigationManager UriHelper

@inject ThemeService ThemeService
@inject EventConsoleService EventConsoleService

<RadzenComponents/>

<PageTitle>BlazorServerApp</PageTitle>


<RadzenLayout>
    @* <RadzenHeader>
	<RadzenRow Style="height:40px">
	<RadzenColumn Size="1">
	<RadzenSidebarToggle Click="@(() => sidebarExpanded = !sidebarExpanded)"/>
	</RadzenColumn>
	<RadzenColumn Size="10" class="rz-text-align-center">
	<RadzenText Text="Best Application Ever" Style="font-weight:bold" />
	</RadzenColumn>
	<RadzenColumn Size="1" class="rz-text-align-right ">
	<RadzenButton Icon="dark_mode" ButtonStyle="ButtonStyle.Secondary"
	class="rz-border-radius-10" Size="ButtonSize.Small"/>
	</RadzenColumn>
	</RadzenRow>
	</RadzenHeader> *@
    <RadzenSidebar Responsive="false" Style="width: max-content ; height:100%">
        <div class="d-print-none">
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0px">
                <RadzenSidebarToggle Click="@(() => _sidebarExpanded = !_sidebarExpanded)"
                                     Icon="@(_sidebarExpanded ? "menu_open" : "menu")"
                                     Style=" font-size:4em " class="rz-m-0"/>
                <RadzenText Text="Blavitech" Visible="@(_sidebarExpanded)"
                            Style="font-weight:bold ; font-size:22px" class="rz-m-2"/>
            </RadzenStack>
            <RadzenPanelMenu DisplayStyle="@(_sidebarExpanded ? MenuItemDisplayStyle.IconAndText : MenuItemDisplayStyle.Icon)" ShowArrow="false">
                <RadzenPanelMenuItem Text="Index" Icon="home" Path=""/>
                <RadzenPanelMenuItem Text="Counter" Icon="dashboard" Path="counter"/>
                <RadzenPanelMenuItem Text="FetchData" Icon="cloud" Path="fetchdata"/>
                <RadzenPanelMenuItem Text="test2" Icon="bug_report" Path="test2"/>
                <RadzenPanelMenuItem Text="Login" Icon="login" Path="login"/>
                <RadzenPanelMenuItem Text="Contacts" Icon="people" Path="contacts"/>
                <RadzenPanelMenuItem Text="UI Fundamentals" Icon="auto_awesome">
                    <RadzenPanelMenuItem Text="Thèmes" Icon="color_lens"/>
                    <RadzenPanelMenuItem Text="Colors" Icon="invert_colors"/>
                </RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Paramètres" Icon="settings" Path="settings"/>
            </RadzenPanelMenu>
        </div>
    </RadzenSidebar>
    <RadzenBody>
        <ChildContent>
            <RadzenContentContainer Name="main">
                @Body
            </RadzenContentContainer>
        </ChildContent>
    </RadzenBody>
    @if (EventConsoleService.IsVisible)
    {
        <RadzenFooter Visible="@_sidebarExpanded" Style=" height:150px" class="rz-p-3">
            <RadzenStack Orientation="Orientation.Horizontal">
                <RadzenText Text="Console:" Style="font-weight:bold"/>
                <EventConsole @ref="@console" class="rz-m-0"/>
            </RadzenStack>
        </RadzenFooter>
    }
</RadzenLayout>


@code {
    bool _sidebarExpanded = true;
    EventConsole console;


}